.contatos {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding: 0 20px;
  margin-bottom: 0;
}

#contatos {
  background: linear-gradient(var(--cor-11) 461px 30%, var(--cor-1)0%);
}

.contato-dados {
  background-color: var(--cor-12);
  padding: 60px;
  box-shadow: 0 1px 2px rbga(0,0,0,0.1);
  border-radius: 4px 0 0 4px;
}

.contato-dados h2 {
  margin: 0 0 60px;
}

.contato-endereco,
.contato-email,
.contato-tel a {
  margin-bottom: 32px;
  position: relative;
}

.contato-email::before {
  content: "";
  height: 23px;
  width: 18px;
  position: absolute;
  background: url(../img/icones/email.svg) no-repeat center;
  left: -30px;
}

.contato-endereco::before {
  content: "";
  height: 23px;
  width: 18px;
  position: absolute;
  background: url(../img/icones/local.svg) no-repeat center;
  left: -30px;
}

.contato-endereco li {
  margin-bottom: 8px;
}

.contato-redes {
  display: flex;
  margin-top: 32px;
  gap: 32px;
  padding: 0 0 0 16px;
}

@media (max-width: 800px) {
  .contatos {
    grid-template-columns: 1fr;
  }

  .contato-dados {
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 0px;
  }

}

/*formulário*/

.contato-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 60px;
  gap: 20px;
  background: var(--cor-0);
}

form label {
  display: block;
  font: 600 1rem/1.5 "Poppins", sans-serif;
  margin-bottom: 4px;
}

.col-2 {
  grid-column: 1 / -1;
}

form input[type="text"],
form input[type="email"],
form textarea {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  background: var(--cor-1);
  border: 1px solid var(--cor-2);
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
  outline: none;
  border-color: var(--cor-p1);
  background: var(--cor-0);
  box-shadow: 0 0 0 2px #fea;
}

button {
  border: none;
  cursor: pointer;
  justify-self: flex-start;
}

@media (max-width: 600px) {
  .contato-form {
    grid-template-columns: 1fr;
  }
  form .col-2 {
    grid-column: 1;
  }
}