body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 2000px;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

