.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-wrap-center {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.p-2 {
  padding: 20px;
}

.g-2 {
  gap: 20px;
}