.large-text {
  font-size: 4rem;
  line-height: 1.11;
  font-family: 'Poppins';
  font-weight: 600;
}

.mediun-text {
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 1.5;
  font-family: 'Roboto';
  font-weight: 400;
}